/.venv
/An_Intro_to_Markov_chains_with_Python!.ipynb
/prueba-incendio-automatas-ley-moore-8-direcciones.py__pycache__/
*.pyc
An_Intro_to_Markov_chains_with_Python!.ipynb
markov_fire_simulation.ipynb
prueba-incendio-automatas-ley-moore-8-direcciones.py
VALIDACION_MODELO.md
CONICET_Digital_Nro.28645ca7-e413-47ca-8d78-9c102fa7bd09_B.pdf
old/
.gitignore
